[Unit]
Description=NNOS State Monitor Daemon
Documentation=file:///usr/share/doc/nnos/README.md
After=lsa_boot_epn.service
Wants=lsa_boot_epn.service

[Service]
Type=simple
ExecStart=/usr/bin/lsa_state_monitor
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=lsa_state_monitor
Environment="NNOS_LOG_DIR=/var/log/lsa"

[Install]
WantedBy=multi-user.target
